.container {
  display: flex;
  justify-content: center;
  width: 65%;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

@media only screen and (max-width: 770px) {
  .container {
    width: 100%;
  }
}
